<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <!--  <class name="library.JiraBug"/> -->
      <class name="oauth.OAuth"/>
      <class name="serialisation.MapsApiSerialisation"></class>
     <!--  <class name="library.DynamicJSON"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
